{% extends "mainapp/layout.html" %}
{% load static %}

{% block title %}
Explore
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/explore.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/css/sidebar.css' %}">
{% endblock head %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar с фильтрами -->
        <div class="col-md-3">
            <form method="get" style="padding: 15px;">
                <label for="search">Название:</label>
                <input type="text" name="q" id="search" placeholder="Введите название"
                       value="{{ request.GET.q }}">
                <br>

                <label for="author">Автор:</label>
                <input type="text" name="author" id="author" placeholder="Введите автора"
                       value="{{ request.GET.author }}">
                <br>

                <label for="genres">Жанры:</label>
                <div class="genre-buttons-container">
                    {% for genre in genres %}
                    <label class="genre-label" for="genre_{{ genre.id }}">
                        <input type='radio' id="genre_{{ genre.id }}" name="genre" value="{{ genre.name }}" {% if genre.name == selected_genre %} class="uncheckable" checked="checked" {% endif %}>
                        <div>
                            {{ genre.name }}
                        </div>
                    </label>
                    {% endfor %}
                </div>
                <br>

                <label for="sort">Сортировка:</label>
                <select name="sort" id="sort">
                    <option value="rating" {% if request.GET.sort == "rating" %}selected{% endif %}>По рейтингу</option>
                    <option value="number_of_ratings" {% if request.GET.sort == "number_of_ratings" %}selected{% endif %}>По количеству оцениваний</option>
                    <option value="title" {% if request.GET.sort == "title" %}selected{% endif %}>По названию</option>
                    <option value="authors" {% if request.GET.sort == "authors" %}selected{% endif %}>По автору</option>
                    <!-- Добавьте другие опции сортировки при необходимости -->
                </select>
                <br>

                <div class="reset-apply-buttons">
                    <a href="{% url 'explore_books' %}" class="reset-button">Сбросить</a>
                    <button type="submit">Применить</button>
                </div>
            </form>
        </div>

        <!-- Центральный контент -->
        <div class="col-md-9">
            <div class="large-screen" style="width:1200px; margin:0 auto;">
                <div class="centre, card-deck">
                    {% for book in page_obj %}
                    <div class="card col-sm-12 col-lg-3 " style="width: 300px;">
                        <div class="row no-gutters" data-book-id="{{ book.id }}" onclick='bookDetails(this)'>
                            <img class=" card-img  mt-4 " src="{{book.image_url}}" alt="book Card">
                            <div class="content text-center">
                                <div class="card-title">{{ book.title|truncatechars:30 }}</div>
                                <div class="card-text">{{ book.authors|truncatechars:25}}</div>
                            </div>
                        </div>
                        <br>
                        <a href="javascript:;" onclick='bookDetails(this)' class="btn more-details"
                           data-book-id="{{ book.id }}">Подробнее</a>
                        {% if user.is_authenticated %}
                        <div class='rating-block' id='rating-block-{{ book.id }}' onmouseover="rateStart(this)"
                             onclick='rateBook(this)' onmouseout='finishRate(this)' data-book-id="{{ book.id }}">
                            <div id='button-text-{{ book.id }}'>Оценить <i class="fa fa-heart" style="color:red"></i>
                                книгу
                                </a>
                            </div>
                            <div class='rateYo' id='rate-{{ book.id }}'></div>
                        </div>
                        {% else %}
                        <div class='rating-block btn' onclick="location.href='{% url 'account_signup' %}'">
                            <div id='button-text'>Оценить <i class="fa fa-heart" style="color:red"></i> книгу
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if forloop.counter|divisibleby:"4" %}
                </div>
                <div class="card-deck  ">
                    {% endif %}
                    {% endfor %}
                </div>
        <nav aria-label="...">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="btn link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.author %}&author={{ request.GET.author }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">&laquo; </a>
        </li>
        {% endif %}

        <li class="page-item "><span class="btn des">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span></li>
        {% if page_obj.has_next %}
        <li class="page-item "><a class="btn link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.author %}&author={{ request.GET.author }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}"> &raquo;</a></li>
        {% endif %}
        </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}